<div class="ui left icon fluid input">
  <i class="user icon"></i>
  <input type="text" name="firstName" placeholder="שם פרטי">
</div>
<div class="ui left icon fluid input">
  <i class="user outline icon"></i>
  <input type="text" name="familyName" placeholder="שם משפחה">
</div>

<!-- <div class="ui left icon fluid field input">
    <i class="address card icon"></i>
    <select class="ui dropdwon">
      <option value="" disabled>עיר מגורים</option>
      <option value="3000">ירושלים</option>
    </select>
  
</div> -->
<div class="ui left icon fluid field input">
  <i class="address card icon"></i>
  <div class="ui fluid dropdown">
    <div class="text"></div>
    <i class="dropdown icon"></i>
  </div>
</div>

<div class="ui left icon fluid input">
  <i class="building icon"></i>
  <input type="text" name="street" placeholder="רחוב">
</div>
<div class="ui left icon fluid input">
  <i class="building outline icon"></i>
  <input type="text" name="houseNumber" placeholder="מספר בית">
</div>

<button class="ui fluid larg orange submit button" routerLink="/happ">הירשם לאתר</button>