<router-outlet></router-outlet>


<div class="ui inverted vertical footer segment noprint">
  <div class="ui center aligned container">
    <div class="ui stackable inverted divided grid">

      <div class="column">
        <img src="assets/logo.png" class="item ui centered image">
        <p></p>
        <div class="ui horizontal inverted small divided list">
          <div class="item">
            <i class="user circle ouline icon"></i>&nbsp;&nbsp;
            {{usersCount}} משתמשים מחוברים
          </div>
          <div class="item">
            <i class="shopping basket icon"></i>&nbsp;&nbsp;
            {{productsCount}} מוצרים זמינים לקניה
          </div>
          <div class="item">
            <i class="shipping fast icon"></i>&nbsp;&nbsp;
            {{ordersCount}} הזמנות בוצעו באתר
          </div>
        </div>
        
      </div>

    </div>
    <div class="ui inverted section divider"></div>
    <div class="ui horizontal inverted small divided link list">
      <div class="item">
        <img src="assets/icon.png" class="ui mini image">&nbsp;&nbsp;
      </div>
      <div class="item">הפנינג ירושלים</div>
      <div class="item">אגודת ספורט ביתר 10 קניון מלחה</div>
      <a class="item" href="tel:+972-2-6793417">02-6793417</a>
      <div class="item">{{openOrClose}}</div>
    </div>
  </div>
</div>