<div class="ui segment orange main center">
  <img src="assets/coloredLogo.png" class="ui centered image">
  <div class="ui inverted section divider"></div>

  <h2 class="ui header orange">
    <i class="comment alternate icon"></i>
    קצת עלינו
  </h2>
  <div class="left-space">
    <p>
      חנות הפנינג בקניון עזריאלי ירושלים נפתחה בשנת 2002 כחנות פופ יחודית,
      <br> ועם השנים התפתחה וצמחה לפינת חמד בה כל אחד יכול למצוא את המתנה המושלמת -
      <br> לחבר, לחברה, לילד והילדה, לאבא או אמא,
      <br> ובעצם לכל אדם אהוב שכמובן ראוי למתנה.
    </p>
    <p>
      אנו מתמחים בהבאת המוצרים העדכניים והאיכותיות ביותר. ללא פשרות!
    </p>
  </div>
  <div class="ui inverted section divider"></div>
  <h2 class="ui header orange">
    <i class="clock icon"></i>
    שעות פתיחת הסניף
  </h2>
  <div class="left-space">
<table class="ui table">
  <thead>
    <tr>
      <th>יום בשבוע</th>
      <th>משעה</th>
      <th>עד שעה</th>
    </tr>
  </thead>
  <tbody>
    <tr>     
      <td>ראשון עד חמישי</td>
      <td>9:30</td>
      <td>22:00</td>
    </tr>
    <tr>     
      <td>שישי וערבי חג</td>
      <td>9:00</td>
      <td>15:00</td>
    </tr>
    <tr>
      <td>מוצאי שבתות וחגים</td>
      <td>שעה לאחר צאת שבת</td>
      <td>23:00</td>
    </tr>
  </tbody>
</table>
  </div>
  <div class="ui inverted section divider"></div>
  <h2 class="ui header orange">
    <i class="phone icon"></i>
    צרו איתנו קשר
  </h2>
  <div class="left-space">
    <p>
      <i class="phone volume icon"></i>
      התקשרו:
      <a href="tel:+972-2-6793417">02-679-3417</a>
    </p>
    <p>
      <i class="fax icon"></i>
      שילחו פקס:
      <a>02-679-0515</a>
    </p>
    <p>
      <i class="envelope icon"></i>
      שלחו מייל:
      <a href="mailto:zotus2@gmail.com">zotus2@gmail.com</a>
    </p>
    <p>
      <i class="facebook icon"></i>
      <a href="https://www.facebook.com/happmalha/">לדף הפייסבוק שלנו</a>
    </p>
  </div>
<br>
</div>