/**
 * ===================================
 * styles.css
 * created by Rakefet Yifrach 2018
 * ===================================
 * This is a the main styles file.
 * This file will effect the whole project.
 */

*:not(i) {
    direction: rtl;
    font-family: 'Varela Round' !important;
}

body {
    background-color: #FFC55A;
    width: 100%;
    padding-top: 15px;
}

.hidden {
    display: none;
}

.center {
    text-align: center;
}
.centered {
    text-align: center;
}

.main {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto !important;
}

p {
    font-size: 18px;
}

.login-container {
    max-width: 600px;
    margin: 50px auto !important;
}

.pointer {
    cursor: pointer;
}